@page "/"


<h3 class="mb-5">Welkom bij de website van BreurArt</h3>

<div class="row mt-3">
	<p>
    <p>Wij zijn Ineke en Anke Breur. Wij maken schilderijen, mozaïeken en keramiek. Als u belangstelling heeft, kunt u ons mailen via onderstaande e-mailadressen:</p>
    <ul>
        <li><a href="mailto:inekebreur@hotmail.com">inekebreur@hotmail.com</a></li>
        <li><a href="mailto:ankebreur@yahoo.com">ankebreur@yahoo.com</a></li>
    </ul>
    <p>Of neem een kijkje in onze collectie:</p>
    <ul>
        <li><a href="https://breurart.nl/ProductsByCategory/1">Schilderijen</a></li>
        <li><a href="https://breurart.nl/ProductsByCategory/4">Glasmozaiek</a></li>
        <li><a href="https://breurart.nl/ProductsByCategory/8">Steenmozaiek</a></li>
        <li><a href="https://breurart.nl/ProductsByCategory/10">Keramiek</a></li>
    </ul>    
    <p>Veel plezier op onze website! test</p>
		
	</p>
</div>


<img src="./images/foto_ineke_anke_2.jpg" />


